.slider {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.container {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

#login {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    //bottom: 0;
    background-image: url('../img/login.png');
    background-size: cover;
}

#form {
    margin-top: 65%;
}

.input {
  width: 90%;
  background-color: transparent;
  margin-left: 5%;
}

#form input[type=text], input[type=password]{
    color:white;
    text-decoration: none;
    font-size: 1.2em;
}

#form input[type=text]:hover, input[type=password]:hover{
    color:white;
    text-decoration: none;
    font-size: 1.2em;
}

#form .btn-blue {
  width: 70%;
  margin-top: 7%;
  margin-left: 15%;
}

.btn-blue {
  -webkit-border-radius: 29;
  -moz-border-radius: 29;
  border-radius: 29px;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  background: #3dafff;
  padding: 13px 40px 13px 40px;
  text-decoration: none;
  border: none;
}

.btn-blue:hover {
  text-decoration: none;
}

.separator {
  width: 90%;
  margin-left: 5%;
  margin-bottom: 7%;
  margin-top: 0;
  opacity: 0.7;
}

#take_picture {
    background-image: url('../img/home.png');
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    //bottom: 0;
    background-size: cover;
}

.intro {
    font-size: 1.5em;
    color: white;
    position: absolute;
    top: 10%;
    left: 5%;
    right: 5%;
    text-align: center;
    line-height: 30px;
}

.round-button { 
   width: 60px;
   height: 60px;
   background: #3dafff; 
   -moz-border-radius: 30px; 
   -webkit-border-radius: 30px; 
   border-radius: 30px;
}

#take_photo {
    position: relative;
    margin-top: 75%;
    margin-left: 42%;
}

.add {
    font-size: 4em;
    color: white;
    top: 21%;
    left: 17%;
    position: relative;
}