section#second-step-album{
	background-image: url(../img/selfie-science-2.jpg);
	background-attachment: fixed;
	background-position: 50% 24px;
	background-size: cover;
	color:white;
	text-shadow : 4px 1px 3px #000 ;
    filter : dropshadow(color=#000, offx=4, offy=1) ;
}

section#event{
	background: url(../img/selfie-festoch-b.jpg);
	background-size: cover;
}

section#app{
	background:url(../img/selfie-friends-b.jpg);
	background-size:cover;
	background-position: 0% 30%;
}


section#second-step-event{
	background-image: url(../img/Crowd2.jpeg);
	background-attachment: fixed;
	background-position: 50% 24px;
	background-size: cover;
	color:white;
	text-shadow : 4px 1px 3px #000 ;
    filter : dropshadow(color=#000, offx=4, offy=1) ;
}

section#demo{
	background:#323a45;

}

section#demo div {
	color:white;
}

section#demo .section-heading {
	margin-bottom: 50px;
}

section#app ,section#event{
	color : white;
}

section#contact {
	color:white;
	text-shadow : 4px 1px 3px #000 ;
    filter : dropshadow(color=#000, offx=4, offy=1) ;

}

.col {
	padding-top : 200px;
}

.picatchus {
	color: #3DAFFF;
	font-weight: bold;
    font-family: 'Lato', sans-serif;
    text-transform: none;
    font-size: 35px;
}

.lead {
	font-size: 23px;
	text-align: justify;
}

.section-conclusion {
	margin-bottom: 20px;
	font-size: 28px;
	font-weight: 300;
	line-height: 1.4;
	text-align: right;
}