section#second-step-album{
	background-image: url(../img/selfie-science-2.jpg);
	background-attachment: fixed;
	background-position: 50% 24px;
	background-size: cover;
	color:white;
	text-shadow : 4px 1px 3px #000 ;
    filter : dropshadow(color=#000, offx=4, offy=1) ;
}

section#event{
	background: url(../img/selfie-festoch-b.jpg);
	background-size: cover;

}

section#app{
	background:url(../img/selfie-friends-b.jpg);
	background-size:cover;
}


section#second-step-event{
	background-image: url(../img/Crowd2.jpeg);
	background-attachment: fixed;
	background-position: 50% 24px;
	background-size: cover;
	color:white;
	text-shadow : 4px 1px 3px #000 ;
    filter : dropshadow(color=#000, offx=4, offy=1) ;
}

section#demo{
	background:#323a45;

}

section#demo div {
	color:white;
}

section#app ,section#event{
	color : white;
	text-shadow : 4px 1px 3px #000 ;
    filter : dropshadow(color=#000, offx=4, offy=1) ;
    height : 600px;
}

section#contact {
	color:white;
	text-shadow : 4px 1px 3px #000 ;
    filter : dropshadow(color=#000, offx=4, offy=1) ;

}

.col {
	padding-top : 100px;

}

@media(min-width:768px) {
    .col {
        padding: 0px;
    }
}

.img-responsive{
	width: 60%;
	height: auto;
}



