<ion-view id="login">
    <ion-content>
        <div ng-controller="LoginController">
            <div id="form">
                <input type="text" class="input" placeholder="Login">
                <hr class="separator" />
                <input type="password" class="input" placeholder="Password">
                <hr class="separator" />
                <button class="btn-blue" ui-sref="home">
                    Se connecter
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>